<div>
    <h1>Book details:</h1>
    
    <div class="book-details">
      
        <h3>{{this.title}}</h3>
        <hr />
        <div><strong>Description:</strong> {{this.description}}</div>
        <div><strong>Author:</strong>{{this.author.name}}</div>
        <div><strong>Rating:</strong>{{this.rating}}</div>
    </div>
</div>
<hr />
<a href="/books">Back</a>